.link {
  padding: 20px;
  font-size: 42pt;
  width: 50%;
  display: inline-flex;
  
}
.link > span{
  cursor: pointer;
}
.active_link{
  composes: link ;
  background-color: blueviolet;
  color: white;
  border-bottom: 4px solid #3a1574;
}
