.loader{
  display: flex;
  justify-content: center;
}
.loader_large {
  composes: loader;
}
.loader_medium {
  composes: loader;
}
.loader_small {
  composes: loader;
}
.bouncing_dot{
  border-radius: 50%;
  position: relative;
  bottom: 0;
  animation: bounce infinite 1.5s ease-in-out;
}
.bouncing_dot:nth-child(1){
  background: linear-gradient(#aa0baf, #a54c6e)
}
.bouncing_dot:nth-child(2){
  background: linear-gradient(#f50c95, #d468b0);
  animation-delay: .5s;
}
.bouncing_dot:nth-child(3){
  background: linear-gradient(#e92a2a, rgb(255, 0, 179));
  animation-delay: .95s;
}
.loader_large .bouncing_dot{
  width: 30px;
  height: 30px;
  margin-right: 15px;
  
}
.loader_medium .bouncing_dot{
  width: 20px;
  height: 20px;
  margin-right: 8px;
}
.loader_small .bouncing_dot{
  width: 4px;
  height: 4px;
  margin-right: 3px;
}
@keyframes bounce{
  0%{
    bottom: 0;
  }
  50%{
    bottom: 4px;
  }
  100%{
    bottom: 0;
  }
}