.container{
  width: 96%;
  max-width: 500px;
  margin: 5% auto;
  padding: 3%;
  padding-bottom: 40px;
  background-color: #070605a6;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 2px 13px 5px rgba(17, 11, 13, 0.19);
}

@media (min-width: 1023px){
  .container{
    margin-top: 3%;
  }
}