*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family:  'Arial Narrow Bold', sans-serif
}
a{
  color: inherit;
}
button{
  border: none;
}
button:focus{
  outline: none
}